
body {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 11%, rgba(0,212,255,1) 73%);
}

.box{
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 4px 14px -4px rgba(0,0,0,0.59);
    border-radius: 35px;
    padding: 20px ;
    margin: 250px;
    display: grid;
    width: 50%;
  /* place-items: center; */
}


html, body {
   
display: grid;
height: 100%;
place-items: center;
}
h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.inputs {
    margin: 5%;
   height: 20px;
   border-radius: 35px;
}
/* h2 {
    color: silver;
    padding: 20px;
    margin-left: 330px;
} */
hr {
    color: silver;
    margin-left: auto;
    margin-right: 330px;
    
}
.sign-in-button:hover {
    background-color: rgb(167, 227, 255);
    color: white;
    cursor: pointer;
  }

.sign-in-button{
    
    margin:auto;
    padding: 15px 10px 10px 15px;
   margin-top: 40px;
    width: 70%;
    text-align: center;
    color: white;
    background: rgb(92, 143, 255);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    border-radius: 35px;
    font-size: 20px;
    
}


